.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-content {
  visibility: hidden;
  width: max-content;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 5px;
  position: absolute;
  z-index: 10;
  bottom: 125%;
  /* Adjust to position above */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-content,
.tooltip-container:focus .tooltip-content {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 768px) {
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  thead,
  tbody {
    display: block;
  }

  th,
  td {
    min-width: 120px;
  }
}

.active-user {
  background-color: #f0f0f0;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}