.content-mis-reservas {
    display: flex;
    place-content: center;
}
.table-mis-reservas > tbody > tr > * {
    padding: 1rem;;
}

.table-mis-reservas .delete-button{
    color: var(--primary-color)
}