.error-message {
  color: red;
}

.login-button {
  color: var(--secondary-color);
  background-color: var(--white-color);
    margin-bottom: 1rem;
}

.login-button:hover {
  background-color: var(--tertiary-color);
}