header {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    height: 5rem;
    background-color: var(--main-color);
    color: #ffffff;
}

.navbar {
    display: flex;
    flex-direction: row;
    place-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar > * {
    margin: 1rem;
}

.navbar-logo-img {
    max-width: 80px; /* Ajusta este valor según tus necesidades */
    height: auto; /* Mantiene la proporción del logo */
}

.navbar-logo {
    display: flex;
    align-items: center; /* Alinea verticalmente el logo con los enlaces, si es necesario */
    margin-right: 20px; /* Añade un margen si es necesario para separar el logo de los enlaces */
}

.nav-links > *{
    margin: 1rem;
    cursor: pointer;
    color: #ffffff;
}

.nav-links > *:hover{
    color: #878787;
}
