header {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    height: 5rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.navbar {
    display: flex;
    flex-direction: row;
    place-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar > * {
    margin: 0 1rem;
}

.navbar-logo-img {

    height: 70px;
    width: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.navbar-logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.nav-links > .navbar-link {
    margin: 1rem;
    cursor: pointer;
    color: #ffffff;
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.nav-links > .navbar-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.3s ease;
}

.nav-links > .navbar-link:hover::after {
    width: 100%;
}


.user-dropdown {
    position: relative;
    display: inline-block;
}

/* TODO: ver que pasa que se duplica esto, aunque lo borre, sigue apareciendo */
.dropdown-menu {
    display: none; /* Oculto por defecto */
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    min-width: 175px;
    z-index: 1;
}

.user-dropdown:hover .dropdown-menu {
    display: flex; /* Mostrar el menú solo al hacer hover */
}

.dropdown-link {
    display: flex;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.dropdown-link:hover {
    background-color: #f1f1f1;
}
