.form-reservar {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date-picker {
    margin: 1rem 0;
    width: auto;
}

@media (max-width: 768px) {
    .form-reservar {
        margin: 1.5rem;
    }
}